.GitHubSearchWidget {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.error {
  padding: 30px;
  color: red;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.results {
  display: flex;
  flex-grow: 1;
}

.resultTable {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
